.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.progress {
  width: 600px;
  height: 20px;
  background-color: rgb(233, 236, 239);
  border: 1px solid #000;
  border-radius: 15px;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.progress span {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
}

.progress div {
  height: 100%;
  background-color: #5cb85c;
}

